.navbar {
  position: fixed;
  z-index: 999;
  top: 0px;
  right: 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 3px 30px -6px #000000;
  box-sizing: border-box;
  background: cornflowerblue;
  width: 100%;
}

.navbar-right {
  display: flex;
  margin-left: auto;
}

.navbar-left {
  display: flex;
}

.avatar {
  display: flex;
  align-items: center;
  margin-left: 30px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.Links {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  margin-right: 80px;
}

.Link1 {
  display: flex;
  font-size: 20px;
  line-height: 30px;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0 20px;
  font-weight: 600;
  color: whitesmoke;
}
.Link1:hover {
  cursor: pointer;
  text-decoration: underline;
  text-decoration-color: whitesmoke;
}

.EachLinkBox {
  border: 0px solid black;
}

.hamburger {
  display: flex;
  align-items: center;
  margin-right: 0px;
  display: none;
}

.Links-hamburger {
  display: none;
}

@media only screen and (max-width: 544px) {
  .hamburger {
    display: inline-block;
  }
  .Links {
    display: none;
  }
  .hamburger-navFlexDivBar-parent {
    display: flex;
    width: 100%;

    position: fixed;
    top: 70px;
    z-index: 999;
  }

  .hamburger-navFlexDivBar-right {
    margin-left: auto;
  }
  .new-Links-hamburger {
    background: cornflowerblue;
    color: whitesmoke;
    border-left: 1px solid whitesmoke;
    border-top: 1px solid whitesmoke;
    border-bottom: 1px solid whitesmoke;
    border-right: 1px solid cornflowerblue;

    box-sizing: border-box;
    display: block;
    text-align: right;
    padding: 4px 5px;
  }
  .hamburger-link {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
    padding-bottom: 5px;
    position: relative;
    text-decoration: none;
    z-index: 999;
    color: whitesmoke;
    font-weight: 600;
    box-sizing: border-box;
    border-bottom: 2px solid whitesmoke;
  }
  .Link1:hover,
  .hamburger-link:hover {
    cursor: pointer;
    text-decoration: underline;

    text-decoration-color: whitesmoke;
  }
}
