.parent {
  margin: auto auto;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 2fr));
}
.title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  color: cornflowerblue;

  padding-top: 28px;
  padding-bottom: 21px;
}

.child {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: dodgerblue;
  color: white;
  padding: 1rem;
  height: 20rem;
  max-width: 20rem;
}
.childlong {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: dodgerblue;
  color: white;
  padding: 1rem;
  height: 20rem;
  width: 100%;
}

@media only screen and (max-width: 24rem) {
  .title {
    padding-left: 10px;
  }
  .childlong {
    background-color: dodgerblue;
    color: white;
    padding: 1rem;
    height: 20rem;
    width: 100%;
  }
  .child {
    background-color: dodgerblue;
    color: white;
    padding: 1rem;
    height: 20rem;
    width: 100%;
  }
}
.div1 {
  background: #12263a;
  flex: 1;
}
.div2 {
  background: #a1ef8b;
}
.div3 {
  background: #a1ef8b;
  flex: 1;
}
.div4 {
  background: #e03616;
}
.div5 {
  background: #e03616;
  flex: 1;
}
.div6 {
  background: #12263a;
}
/*old stuff below*/
.wrapper {
  display: flex;
  margin: 100px 0;
  padding: 0;
  border: 1px solid black;
}

.allRows {
  flex-grow: 1;
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  border: 1px solid black;
  box-sizing: border-box;
  margin: auto;
}

.row {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  border: 1px solid black;
  box-sizing: border-box;
  flex-grow: 1;
}

#row1 {
  flex-grow: 1;
}
#row2 {
  flex-grow: 1;
}
#row3 {
  flex-grow: 1;
}

/*test code below-delete after*/

.temp-container {
  flex: 1;
  border: 1px solid black;
}

#test {
  flex: 1;
  flex-flow: row;
  display: flex;
}

.test-cardcontainer {
  flex: 1;
}

.cloud {
  height: 20rem;
  width: 20rem;
}
