.app {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-wrap: break-word;
  overflow-x: hidden !important;
  max-width: 100% !important;
}

.app-navbar {
  flex: 1;
}

.app-page {
  flex: 1;
  display: block;
}

/*fix margin for about section here*/

.PG {
  overflow-x: hidden !important;
}

/*fix margin for about section here*/

.about {
  overflow-x: hidden !important;
  margin: 0 100px;
  margin-top: 30px;
  margin-bottom: 100px;
}
/*fix margin for about (ie: home) section here*/
@media (max-width: 600px) {
  .about {
    margin-top: 30px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 90px;
  }
}
.app-footer {
  flex: 1;
  margin-top: auto;
  position: fixed;
  bottom: 0;
  width: 100%;
}
